<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperAluguéis</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      Sobre
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contato
    </LinkTo>
  </div>
</nav>