<article class="rental">
    <Rental::Image
        src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Crane_estate_(5).jpg"
        alt="A picture of Grand Old Mansion"
    />
    <div class="details">
        <h3>Antiga Mansão Grande</h3>
        <div class="detail owner">
            <span>Proprietário:</span> Veruca Salt
        </div>
        <div class="detail type">
            <span>Tipo:</span> Privado
        </div>
        <div class="detail location">
            <span>Local:</span> São Francisco
        </div>
        <div class="detail bedrooms">
            <span>Número de quartos:</span> 15
        </div>
    </div>
    <Map
        @lat="37.7749"
        @lng="-122.4194"
        @zoom="9"
        @width="150"
        @height="150"
        alt="A map of Grand Old Mansion"
    />
</article>