{{page-title "Tutorial do Ember - Sobre"}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre o Super Aluguéis</h2>
  <p>
      O site da Super Aluguéis é um brilhante projeto criado para explorar o Ember.
      Construíndo um site de aluguel de propriedades nós podemos imaginar viagens 
      e construir aplicações Ember simultaneamente.
  </p>
  <LinkTo @route="contact" class="button">Fale Conosco</LinkTo>
</div>