{{page-title "Tutorial do Ember"}}
<Jumbo>
  <h2>Bem vindo ao Super Aluguéis!</h2>
  <p>Esperamos que você encontre exatamente o que está procurando em um lugar para ficar.</p>
  <LinkTo @route="about" class="button">Sobre</LinkTo>
</Jumbo>
<div class="rentals">
  <ul class="results">
    <li><Rental /></li>
    <li><Rental /></li>
    <li><Rental /></li>
  </ul>
</div>